
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/APLogo-20-20.png" alt="" width="130" height="auto" class="d-inline-block align-text-bottom">
      <span id="nav-title">{{ title }}</span> 
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="https://m.me/XYZ"><i class="bi bi-facebook"></i></a>
        <a class="nav-link" href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
        <a class="nav-link" href="https://wa.me/5491126466634"><i class="bi bi-whatsapp"></i></a>
        <a class="nav-link" href="mailto:reguloluna@hotmail.com.com"><i class="bi bi-envelope"></i></a>
      </div>
    </div>
  </div>
</nav> 
